.squareButton {
    width: 170px;
    padding: 10px;
    border: none;
    background-color: var(--pink-color);
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.squareButton:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 200ms;
}

.squareButtonDisabled {
    width: 170px;
    padding: 10px;
    border: none;
    background-color: gainsboro;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.authWrapper {
    background-color: whitesmoke; 
    height: 100vh; 
    width: 60vw; 
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px; 
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.authTitle {
    color: var(--black-color); 
    font-weight: 700; 
    font-size: 45px;
    margin-top: 20px;
}

.authInput {
    width: 40vw;
    padding: 10px;
    border-radius: 30px;
    border: 1.5px solid black;
}

.fullnameInputWrapper{
    width: 40vw;
}

.obatinLogo{
    max-width: 150px;
    height: auto;
}

/* FOR TABLET */
@media only screen and (max-width: 750px) {
    .authWrapper {
        height: 70vh; 
        width: 100vw; 
        border-top-left-radius: 30px; 
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px; 
    }

    .authTitle{
        font-size: 35px;
        margin-top: 10px;
    }

    .authInput {
        width: 70vw;
        padding: 7px;
    }

    .fullnameInputWrapper{
        width: 70vw;
    }

    .registerText{
        font-size: 14px;
    }

    .obatinLogo{
        max-width: 120px;
        height: auto;
    }

}

/* FOR MOBILE */
@media only screen and (max-width: 800px) {
    .authTitle{
        font-size: 25px;
        margin-top: 5px;
    }

    .authWrapper {
        height: 75vh; 
        width: 100vw; 
        border-top-left-radius: 30px; 
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px; 
    }

    .authInput {
        width: 70vw;
        padding: 5px;
    }

    .fullnameInputWrapper{
        width: 70vw;
    }

    .registerText{
        font-size: 12px;
    }

    .obatinLogo{
        max-width: 100px;
        height: auto;
    }
}