.navbarButton{
    background-color: transparent;
    border: 0px solid white;
}

.navbarButton:hover{
    color: var(--blue-color);
    transition: 300ms;
}

.transactionsButton{
    color: white;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

.transactionsButton:hover{
    opacity: 0.7;
    transition: 300ms;
}