.marketplaceNavbar:hover {
    cursor: pointer;
    background-image: #1c1c1c;
    background-color: #1c1c1c;
    transition: 300ms;
}
  
.marketplaceIconsLight {
    background-color: transparent;
    border: transparent;  
    color: whitesmoke;
    font-size: 22px;  
}

.marketplaceIconsLight:hover {
    cursor: pointer;
    color: var(--pink-color);
    transition: 300ms;
}

.marketplaceIconsDark {
    background-color: transparent;
    border: transparent;  
    color: var(--black-color);
    font-size: 20px;  
}

.marketplaceIconsDark:hover {
    cursor: pointer;
    color: var(--pink-color);
    transition: 300ms;
}
  
.menuOptions {
    color: whitesmoke;
    opacity: 100% !important;
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    border: transparent;    
}
  
.menuOptions:hover {
    cursor: pointer;
    color: var(--pink-color);
    transition: 300ms;
}

.profileDropdown{
    font-size: 16px;
    color: var(--pink-color);
    border-bottom: 0.5px solid gainsboro;
}

.profileDropdown:hover{
    background-color: rgba(255, 228, 225, 0.8);
    transition: 200ms;
}

.textButton{
    border: 0px solid white;
    background-color: transparent;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 300;
}

.textButton:hover{
    color: var(--pink-color);
    transition: 300ms;
}

.mainMenus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 40vh;
    background-color: seashell;
    color: var(--black-color);
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 1px 5px 15px -5px gray;
    -webkit-box-shadow: 1px 5px 15px -5px gray;
    -moz-box-shadow: 1px 5px 15px -5px gray;
}

.mainMenus:hover{
    box-shadow: 1px 5px 15px -5px black;
    -webkit-box-shadow: 1px 5px 15px -5px black;
    -moz-box-shadow: 1px 5px 15px -5px black;
    background-color: rgb(241, 239, 238);
    transition: 800ms;
    height: 42vh;
    width: 26vw;
}

.homeProductCard{
    width: 15vw;
    height: 40vh;
    background-color: whitesmoke;
    box-shadow: 1px 5px 15px -5px gray;
    -webkit-box-shadow: 1px 5px 15px -5px gray;
    -moz-box-shadow: 1px 5px 15px -5px gray;
}

.homeProductCard:hover{
    transition: 300ms;
    box-shadow: 8px 12px 20px -5px gray;
    -webkit-box-shadow: 8px 12px 20px -5px gray;
    -moz-box-shadow: 8px 12px 20px -5px gray;
}

.bestSellerContainer{
    height: 60vh;
    background-image: url(../../../assets/gradientBackground.jpeg);
    background-position-y: 60%;
}

.articleContainer{
    width: 28vw;
    height: 40vh;
    background-color: seashell;
    color: var(--black-color);
    border: 1px solid silver;
    border-radius: 20px;
    box-shadow: 1px 5px 15px -5px gray;
    -webkit-box-shadow: 1px 5px 15px -5px gray;
    -moz-box-shadow: 1px 5px 15px -5px gray;
}

.articleContainer:hover{
    transition: 300ms;
    box-shadow: 8px 12px 20px -5px gray;
    -webkit-box-shadow: 8px 12px 20px -5px gray;
    -moz-box-shadow: 8px 12px 20px -5px gray;
}