* {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

:root {
    --red-color: #FF4858;
    --pink-color: #FF7B87;
    --lighter-pink-color: #FFA0A8;
    --black-color: #474747;
    --blue-color: #05AFD1;
    --gray-color: #848484;
}

.authPage {
	height: 100vh;
	width: 100vw;
	background-color: var(--pink-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illustrationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

/* FOR TABLET */
@media only screen and (max-width: 800px) {
    .authPage {
        flex-direction: column;
        justify-content: end;
    }

    .illustrationWrapper {
        width: 50vw;
        margin-bottom: 3vh;
    }
}

/* FOR MOBILE */
@media only screen and (max-width: 480px) {
    .illustrationWrapper {
        width: 60vw;
        margin-bottom: 3vh;
    }
}