* {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

:root {
	--red-color: #ff4858;
	--pink-color: #ff7b87;
	--black-color: #474747;
	--blue-color: #05afd1;
	--beige-color: #f4e4cd;
	--gray-color: #848484;
}

.authPage {
	height: 100vh;
	width: 100vw;
	background-color: var(--pink-color);
}
